/* google font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

:root {
  --primary-color: #305aa9;
  --primary-color_dark: #093a8d;
  --primary-color-light: #5487db;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
//sada

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: var(--primary-color);
  padding: 6px 14px;
  transition: all 0.5s ease;
  z-index: 999;
}

.sidebar.active {
  width: 240px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .logo_content .logo {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar .logo_content .logo .logo_image {
  width: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.sidebar #btnSidebar {
  color: white;
  position: absolute;
  left: 50%;
  top: 6px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btnSidebar {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
  padding-left: 0px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  color: black;
  background: white;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li a {
  color: white;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  text-decoration: none;
  border-radius: 15px;
  white-space: nowrap;
  margin-top: 7px;
}

.sidebar ul li a.active {
  background: white;
  color: var(--primary-color);
}

.sidebar ul li a:hover {
  background: white;
  color: var(--primary-color);
}

span.material-symbols-outlined {
  height: 50px;
  min-width: 50px;
  border-radius: 15px;
  list-style: none;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 15px;
  list-style: none;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.sidebar .link_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .link_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_content {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar.active .profile #btnLogout:hover {
  background: var(--primary-color);
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.4 ease;
}

.sidebar.active .profile_content .profile {
  background: var(--primary-color_dark);
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 15px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile #btnLogout {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 15px;
  text-align: center;
  transition: all 0.4 ease;
  background: var(--primary-color_dark);
  cursor: pointer;
}

.sidebar.active .profile #btnLogout {
  left: 88%;
  background: none;
}

header {
  left: 78px;
  padding: 15px 15px 15px 0;
  margin: 15px;
  height: 42px;
  line-height: 19px;
  text-transform: uppercase;
  color: black;
  border-bottom: 2px solid #d6d6d6;
}
header > h4 {
  display: inline-block;
  line-height: 17px;
  font-weight: 800;
  height: 27px;
  border-bottom: 2px solid var(--primary-color);
}

/*home */

.home_content {
  position: absolute;
  height: 100%;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}

.sidebar.active ~ .home_content {
  display: block;
  width: calc(100% - 240px);
  left: 240px;
}
/* Media query untuk tampilan mobile */
@media only screen and (max-width: 768px) {
  .sidebar.active ~ .home_content {
    transision: all 1s ease;
    display: none;
  }
  .sidebar.active {
    width: 100%;
  }
}

.home_content .content {
  margin: 0 15px 0 15px;
}

/* card */

.cards_menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
}

.cards_menu a {
  text-decoration: none;
  flex: 0 1 19%;
  color: black;
}

.card_menu {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;
  margin: 7px;
  display: flex;
  flex: 0 1 19%;
  cursor: pointer;
}

.card_menu svg {
  fill: white;
}

.card_menu .icon_menu {
  width: 55px;
  background: var(--primary-color);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_menu .text_card_menu {
  align-items: center;
  margin-left: 10px;
  width: 100%;
}

/* content_menu */

.content_menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}

.content_menu.block {
  display: block;
}

.content_menu button {
  border: none;
  border-radius: 10px;
  color: white;
  background: var(--primary-color);
  padding: 7px 15px;
  cursor: pointer;
  /* margin-left: 15px; */
}

.content_menu button:hover {
  background: var(--primary-color_dark);
}
.text_card_menu,
.text_card_menu * {
  color: black;
  transition: color 0.3s; /* Efek transisi untuk perubahan warna */
}

.text_card_menu:hover,
.text_card_menu:hover * {
  color: var(--primary-color); /* Warna teks saat hover */
}

/* table */

svg.empty {
  width: 100%;
  max-width: 23pc;
  max-height: 23pc;
}

.table_content {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 15px 0 15px 0;
  flex: 0 1 82%;
  padding-bottom: 1px;
  height: max-content;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
}

table td img {
  border-radius: 10px;
  object-fit: cover;
  width: 50px;
  height: 50px;
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content_menu td button {
  border: none;
  border-radius: 10px;
  color: white;
  background: var(--primary-color);
  padding: 7px 15px;
  cursor: pointer;
  margin: 0;
}

/* pagination */

.pagination {
  display: flex;
  margin: 18px;
  color: var(--primary-color);
}

.pagination .page-item {
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  list-style: none;
  margin-left: 10px;
  display: flex;
}

li.page-item.active {
  background: var(--primary-color);
}

a.page-link.active {
  color: white;
}

.page-item.active .page-link {
  border-radius: 15px;
  background: var(--primary-color);
  border: none;
}

.page-item.active .page-link :hover {
  background: var(--primary-color_dark);
}

.page-item:last-child .page-link {
  border-radius: 15px;
}
.page-item:first-child .page-link {
  border-radius: 15px;
}

.page-link {
  padding: 0px;
}

.page-item a {
  color: var(--primary-color);
  font-weight: 800;
  width: 51px;
  text-align: center;
  border-radius: 15px;
}

.pagination .page-item:hover {
  background: var(--primary-color);
  color: white;
}

.pagination a:hover {
  color: white;
  background: var(--primary-color);
}

/* cards_profit */
.cards_profit {
  flex: 0 1 15%;
  margin-left: 10px;
}

.cards_profit .card_profit {
  margin-top: 25px;
  margin-right: 6px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card_profit h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  background: var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.card_profit .balance_card_profit {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.card_profit .balance_card_profit h3 {
  color: rgb(133, 130, 130);
}

.card_profit .order_card_profit {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.card_profit .order_card_profit h3 {
  color: rgb(133, 130, 130);
}
.flex_99 {
  flex: 0 1 99%;
}

/* banner */
.banner {
  width: 250px;
  height: 120px;
}

/* maps */

.maps_content {
  margin-left: 15px;
  margin-right: 10px;
  width: 100%;
}

.fields {
  width: 35%;
}

.maps_content button {
  background: var(--primary-color);
  padding: 7px 10px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 0px;
}

/* fields */

.fields h5 {
  margin-top: 20px;
}
.field {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 10px;
  display: inline-flex;
  width: 70%;
}

select.topic {
  display: grid;
  background-color: transparent;
  border: none;
  padding: 10px 15px 10px 10px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  grid-template-areas: "select";
  align-items: center;
  outline: none;
}

.field_distance {
  display: flex;
  align-items: center;
  padding: 10px;
}

.field_distance input {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #c2bfbf;
  margin-right: 15px;
}
select.topic::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
}

select.filter {
  border: none;
  background: white;
  cursor: pointer;
  outline: none;
}

.field input {
  padding: 7px;
  border: none;
  color: black;
  outline: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
}

.field span {
  background: #dddddd;
  color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

/* modal */
#modal-kotak {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 60%;
  border-radius: 10px;
}
.header_dialog {
  font-size: 15pt;
  padding: 20px;
  background: var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
}
.content_dialog {
  background: #fff;
  padding: 20px;
}

.footer_dialog {
  padding-left: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
}

button.btnReset {
  background-color: #ed1515;
}

button.btnReset:hover {
  background-color: #af0a0a;
}

button svg {
  width: 24px;
  fill: white;
}

button.btnRefresh {
  background-color: rgb(14, 160, 14);
  margin-top: 5px;
  padding: 7px;
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}

button.btnRefresh:hover {
  background-color: rgb(6, 126, 6);
}

button.btnBack {
  margin-bottom: 10px;
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
  background: white;
  padding: 8px;
  color: white;
  background: #2c70d3;
}

button.btnBack:hover {
  background: #1353b3;
}

.btnBack:hover > svg {
  background: #1353b3;
  fill: white;
}

.btnBack svg {
  fill: white;
}

#btnAdd {
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
  padding: 8px;
}

.preview_image {
  width: 250px;
  border-radius: 10px;
}

.close {
  display: flex;
  justify-content: end;
  width: 70%;
}

.bg_close_button {
  display: flex;
  justify-content: end;
  width: 87%;
}

#btnClose {
  height: 30px;
  width: 30px;
  color: #ed1515;
  border-radius: 50%;
  border: none;
  padding: 0;
  align-content: center;
  background: white;
}

#bg {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#tombol {
  background: #e74c3c;
}

#bg .field {
  width: max-content;
}

.content_menu td button.btnDelete {
  background: rgb(163, 6, 6);
  margin-left: 15px;
  padding: 8px;
}

.content_menu td button.btnDelete:hover {
  background: rgb(119, 4, 4);
}

.content_menu td button.btnEdit {
  background: rgb(36, 150, 2);
  padding: 8px;
}

.content_menu td button.btnEdit:hover {
  background: rgb(27, 110, 2);
}

.content_menu td button.btnView {
  background: var(--primary-color);
  padding: 8px;
}

.content_menu td button.btnView:hover {
  background: var(--primary-color_dark);
}

.content_menu td button.btnComment {
  padding: 8px;
  background: #2275bd;
}

.content_menu td button.btnComment:hover {
  background: #155fa0;
}

.btnEdit svg,
.btnDelete svg {
  padding: 2px;
}
a {
  text-decoration: none;
}

img.image_restaurant {
  width: 150px;
  margin-top: 7px;
  border-radius: 5px;
}

/* information */

.info {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: max-content;
  border-left: 5px solid var(--primary-color);
  margin-left: 10px;
  margin-bottom: 25px;
  margin-top: 33px;
}

.info h5 {
  font-size: 14px;
}

/* status */
.bg_status {
  background: var(--primary-color);
  padding: 5px;
  border-radius: 15px;
  color: white;
}

.success {
  background: rgb(36, 150, 2);
}

.warning {
  background: rgb(150, 150, 2);
}

.danger {
  background: rgb(163, 6, 6);
}

.cancel {
  background: rgb(150, 2, 2);
}

/* setting */
.content_setting {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.content_setting .content_left {
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid #c2bfbf;
}

.content_left li {
  list-style: none;
  color: black;
  margin-top: 15px;
}

.content_left li a {
  color: black;
}

.content_left li a:hover {
  color: var(--primary-color);
}

li a.on {
  color: var(--primary-color);
}

.content_right {
  margin: 20px;
}

/* tab */
.nav-tabs .nav-link {
  margin-bottom: -2px;
  background: 0 0;
  border: none;
  color: #495057;
  font-weight: 500;
}
.nav-tabs button {
  margin-left: 10px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #fff;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  border-radius: 0px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  border-radius: 0px;
  background: white;
}

.icon_fitur {
  fill: white;
  padding: 7px;
  background: var(--primary-color);
  border-radius: 7px;
  width: 50px;
  height: 50px;
}

.card_fitur {
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 305px;
  margin-top: 10px;
}

.card_fitur p {
  font-size: smaller;
}
input.switch_feature {
  height: 1.4em;
  width: 2.7em !important;
}
.form-check-label {
  color: black !important;
}

input#flexSwitchCheckDefault {
  height: 1.4em;
  width: 2.7em;
}

button.btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

button.btn-close:hover {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

/* login */
.card_login {
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card_login h4 {
  color: white;
}

.btn_login {
  border-radius: 15px;
  padding: 7px 10px;
  background: var(--primary-color);
  border: 1px solid white;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.btn_login:hover {
  background: var(--primary-color_dark);
}

.bg_primary {
  background: var(--primary-color);
}

.form-check {
  color: white;
}

.login_form {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.authentication {
  display: block;
}

.authentication {
  display: block; /* default value for non-mobile */
}

@media only screen and (max-width: 768px) {
  .authentication {
    display: none !important; /* hide on mobile */
  }
  .login_form {
    border-radius: 7px;
  }
  .login_form > form {
    margin: 30px;
  }
}

.img_rounded {
  border-radius: 10px;
  object-fit: cover;
  width: 80px;
  height: 80px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.profile a {
  color: white;
}

div#table_wrapper {
  padding: 15px;
}

.paginate_button {
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  list-style: none;
  margin-left: 10px;
  display: flex;
}

.paginate_button a {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #fff;
  border-radius: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--primary-color);
  font-weight: 800;
  width: max-content;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.paginate_button.previous a,
.paginate_button.next a {
  width: max-content;
  padding-right: 10px;
  padding-left: 10px;
}

.paginate_button.active a {
  background: var(--primary-color);
  color: white;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
  display: inline-flex;
  float: right;
}

div#table_length {
  width: max-content;
  display: inline-flex;
}

.dt-buttons {
  margin-bottom: 3rem;
}

/* api */
.url p {
  background: aliceblue;
  border-radius: 7px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.url p span {
  background: #dddddd;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 10px;
  margin-right: 7px;
}

/* tab */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: var(--primary-color);
  color: white;
  border-radius: 7px;
  border: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background: var(--primary-color);
  color: white;
  border-radius: 7px;
  border: none;
}

.nav-tabs {
  border: none;
}
ul {
  list-style: none;
}

.url ul {
  margin-bottom: 0;
}

.aliceblue {
  background: aliceblue;
  border-radius: 7px;
}

.app_name {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
}

.nav-tabs .nav-link {
  border: 1px solid var(--primary-color);
  border-radius: 7px;
}
.footer-btn {
  margin-top: 10px;
}
form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
